@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap");

/* color:#26262E, #FF7901 #BDBDBD #F2F2F4 #7D7D7E */
* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}
/*-- REUSEABLE STYLE --*/
li {
  list-style: none;
}
h4{
  font-size: 20px;
  font-weight: 500;
  color: #26262E;
}
h3{
    font-size: 24px;
    color: #26262E;
    font-weight: 500;
    margin-bottom: 10px;
}

/*--- HEADER SECTION STYLE START ---*/
.header-section {
  background: #000;
  padding: 7px 30px;
}
.menubar {
  display: flex;
  justify-content: space-between;
}
.menubar .logo {
  width: 124px;
  height: 68px;
  margin-left: 10px;
}
.profiler-info {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ffffff;
}
.profiler-info .balance {
  display: flex;
  align-items: center;
  margin-right: 30px;
  font-size: 20px;
  font-weight: 400;
}
.profiler-info .balance p {
  font-style: 20px;
  font-weight: 300;
  margin-right: 10px;
}
.profiler-info .balance h2 {
  font-size: 30px;
  font-weight: 500;
  color: #ff7901;
}
.user-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #ffffff;
  color: #26262e;
  width: 200px;
  height: 60px;
  border-radius: 45px;
}
.user-info .photo {
  width: 40px;
  height: 40px;
}
.user-info angle-down {
  width: 12px;
}
/*--- HEADER SECTION STYLE END ---*/

/*--- MAIN SECTION STYLE START ---*/
.main-section {
  display: grid;
  grid-template-columns: 224px auto;
}
/*--- menubar style ---*/
.side-menubar {
  background-color: #000;
  height: 100vh;
  color: #ffffff;
}
.menubar-section {
  padding-top: 48px;
  margin-left: 42px;
  padding-right: 29px;
  position: relative;
}

.list-style {
  display: flex;
  gap: 22px;
  align-items: center;
  padding-bottom: 30px;
}
.list-style {
  color: #7d7d7e;
  font-size: 14px;
  font-weight: 500;
}
.list-style:hover {
  color: #ffffff;
}
.list-style::after {
  content: "";
  width: 3px;
  height: 29px;
  background: #ff7901;
  position: absolute;
  right: 0;
}
.nested-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nested-icon {
  margin-top: -30px;
}
/* user information section style */

.payment-section {
  background: #fcfbff;
}
.user-information {
  display: grid;
  grid-template-columns: 325px auto;
  margin: 30px;
  gap: 30px;
}

.user {
  text-align: center;
  background: #ffffff;
  border-radius: 10px;
  width: 172px;
  padding: 40px 86px 71px 67px;
  border: 1px solid #f2f2f4;
}
.profile-pic {
  width: 100px;
  height: 100px;
}
.user p {
    color:#7D7D7E;
    font-size: 12px;
    margin-top: 5px;
}
/* credit section style */
.credit-section{
    border: 1px solid red;
    padding: 70px 30px 0 30px;
}
.credit{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.credit-1{
    border: 1px solid #f2f2f4;
    color: black;
    position: relative;
    padding: 30px;
    width: 387px;
    border-radius: 10px;
}
.credit-1 h4{
   color:#7D7D7E;
   margin-bottom: 30px
}
.credit-1 .trash-icon{
    width: 30px;
    height: 30px;
    right: 10px;
    top: 10px;
    position: absolute;
}
.credit-1 input{
    border: none;
    width: 100%;
    padding: 7px 0 7px 0;
    font-size: 20px;
    outline: none;
}
.credit-1 input::placeholder{
    color: #BDBDBD;
    font-size: 20px;
    font-weight: 500;

}
/*--- MAIN SECTION STYLE END ---*/
