@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap");

/* color:#26262E, #FF7901 #BDBDBD #F2F2F4 #7D7D7E */
* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}
/*-- REUSEABLE STYLE --*/

/*--- HEADER SECTION STYLE START ---*/
.header-section {
  background: #000;
  padding: 7px 20px;
}
.navbar {
  display: flex;
  justify-content: space-between;
}
.navbar .logo {
  width: 124px;
  height: 68px;
}
.profiler-info {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ffffff;
}
.profiler-info .balance {
  display: flex;
  align-items: center;
  margin-right: 30px;
  font-size: 20px;
  font-weight: 400;
}
.profiler-info .balance p {
  font-style: 20px;
  font-weight: 300;
  margin-right: 10px;
}
.profiler-info .balance h2 {
  font-size: 30px;
  font-weight: 500;
  color: #ff7901;
}
.user-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #ffffff;
  color: #26262e;
  width: 200px;
  height: 60px;
  border-radius: 45px;
}
.user-info .photo {
  width: 40px;
  height: 40px;
}
.user-info p {
  font-size: 20px;
  font-weight: 400;
}
.user-info angle-down {
  width: 12px;
}
/*--- HEADER SECTION STYLE END ---*/
/*--- HEADER SECTION STYLE START ---*/
/*--- HEADER SECTION STYLE END ---*/